* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(19, 2, 250);
}
.snare-pad {
  background: rgb(253, 4, 4);
}
.hihat-pad {
  background: rgb(236, 253, 2);
}
.kick-pad.active {
  background: rgb(115, 106, 241);
}
.snare-pad.active {
  background: rgb(247, 101, 101);
}
.hihat-pad.active {
  background: rgb(247, 244, 82);
}
.sequenser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.title {
  min-width: 5.5rem;
}
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(22, 238, 22);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(170, 168, 168);
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  min-width: 12rem;
}
.mute.active {
  background: rgb(245, 172, 15);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  -webkit-appearance: none;
  padding: 0.1rem;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: rgb(242, 245, 204);
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
